@import '@/styles/mixins';
@import '@/styles/variables';

.button {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: fit-content;
  white-space: nowrap;
  @include flex(row, center, center, nowrap);
  box-sizing: border-box;

  &.default {
    background: $bg-btn-default;
    border-radius: 18px;
    border: 1px solid $border-btn-default;
    color: $text-btn-color-white;
  }

  &.filled,&.outline {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  &.filled {
    background: $color-accent;
    border-radius: 16px;
    padding: 24px 54px;
  }
  &.outline {
    border: 2px solid $color-accent;
    border-radius: 18px;
  }
}
