@import '@/styles/mixins';
@import '@/styles/variables';

.vesting_wrapper {
  background: rgba(117, 121, 136, 0.22);
  border: 1px solid rgba(117, 121, 136, 0.3);
  box-sizing: border-box;
  border-radius: 32px;
  width: 529px;
  height: 680px;
  padding: 48px 25px 34px 27px;
}
