@import '@/styles/variables';
@import '@/styles/mixins';

.header_wrapper {
  padding: 40px 0;
  @include flex(row, center, space-between, nowrap);
  .logo {
    max-width: 131px;
  }
  .connectWrapper{
    position: relative;
    .disconnect{
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      @include transition;
      &.active{
        max-height: 200px;
      }
    }
  }
  .btn {
    padding: 24px 167px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: $text-btn-color-white;
    &_disconnected{
      padding: 24px 167px;
      font-size: 20px;
      letter-spacing: 0.015em;
      text-transform: uppercase;
      width: 100%;
    }
  }
  .btn_connected {
    min-width: 529px;
    padding: 12px 18px;
    @include flex(row, center, flex-start, nowrap);
    .icon {
      width: 53px;
      height: 48px;
      margin-right: 24px;
      @include flex(row, center, center);
      img {
        width: 100%;
      }
    }
    .text {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: none;
    }
    .mobileText{
      display: none;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: none;
    }
  }
}

@media (max-width: 830px){
  .header_wrapper{
    @include flex(column, center, flex-start, nowrap);
    .btn_connected{
      margin-top: 20px;
      min-width: 0;
      .text{
        display: none;
      }
      .mobileText{
        display: inline-block;
      }
    }
  }
}